*{margin: 0; padding: 0; box-sizing: border-box;}
/*START NAVBAR*/
header{
    width: 100%;
    height: 85px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoAstroGame{
    margin-left: 20px;
    width: 160px;
}
.AstroGame_linkes ul li{
    list-style: none;
}
.AstroGame_linkes ul li a{
    text-decoration: none;
    color: aliceblue;
}
.AstroGame_linkes li{
    float: left;
    padding-right: 40px;
}
.AstroGame_linkes ul li a:hover{
    color: blueviolet;
}  
.AstroGame_linkes li a{
    transition: all 0.3s;
}
.img_carrito{
    margin-right: 10px;
}
.img_lupa{
    width: 31px;
    margin-right: 20px;
} 
.btn_IS{
    padding: 9px 25px;
    margin-right: 20px;
    text-decoration: none;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 50px;
}